/* =================================
    Master Styles 
    ================================*/

:root{
    --bg-secondary-dark: #003360;
    --bg-primary: #FCFCFC; 
    --grey: #1e1e1e ;
    --teal87: #8be2e2;
    --dd-navy: #003355;
    --blank-color: #d9d9d9;
    --bg-secondary-light: #85c529;
    --green-border: 5px solid var(--bg-secondary-light);
    --border-radius: 15px;
    --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
@font-face {
        font-family: 'Anek Malayalam Medium';
        src: url('AnekMalayalam-VariableFont_wdth,wght.ttf') format('ExtraBold');
        font-weight: 800;
      }  

  
/*Navbar*/


.nav-link{
    color: var(--bg-secondary-dark);
    width: 9.625em;
    height: 2.9375em;
    font-family: 'Microsoft New Tai Lue' !important;
    font-style: regular;
    font-weight: 0;
    font-size: 1.5em;
    line-height: 2.9375em;
    /* identical to box height */
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--bg-secondary-dark) ;
    float: right;
    text-align: center;
}
.navbar {
    background-color: var(--bg-primary) !important;
    font-family: "Microsoft New Tai Lue", sans-serif;
    height: 9.375em;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom: var(--green-border);
    display: flex;
    box-sizing: content-box; 
    
}
.navbar-toggler{
    position: fixed;
    right: 0;

}
.nav-link:hover{
    color: var(--bg-primary) !important;
    background-color: var(--bg-secondary-dark);
    transition: 0.5s;
    
}
.dropdown-item{
    opacity: 85%;
    color: var(--bg-primary); /* Add some padding to center the text */
}
.dropdown-item:hover{
    transition: 0.5s;
    text-decoration: underline !important;
}
.dropdown-menu{
    opacity: 85%;
    background-color: #003355 ;
    text-align: center;
    justify-content: center;
}

#nav{
   justify-content: end;
    float: right;
}
/*footer*/
footer {
    background-color: var(--bg-secondary-dark);
    font-family: Helvetica, sans-serif;
    color: var(--bg-primary);
    border-top: var(--green-border);  /* added padding to provide some spacing */
    line-height: 1;
}
.footercolumn {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: var(--bg-primary);
    padding-top:10px
}
.parentfootercolumn {
    display: grid;
    grid-template-columns: 160px 160px 160px 160px 160px 1fr;
    grid-template-rows: 140px 10px;
    justify-content: left;  /* changed to space-between to evenly distribute the columns */
    text-align: start;  /* changed from end to start */
    align-items: flex-start;
    gap: 20px;  /* added to provide some space between the columns */
}
#footerimg {
    padding: 10px;
    height: 140px;
    width: 140px;
    display: block;  /* changed from float to block */
    margin: 0 auto;  /* centers the image */
    align-self: center;
}
.footer-right p{
    text-align: right;
    margin-right: 20px;
}
.img-thumbnail{
    border: var(--green-border);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 0%;
}
.footercolumn a {
    color: var(--bg-primary);
    text-decoration-line: none;
    line-height: 0.4;
    
  }
  .footer-header{
    text-decoration: underline;
  }
/*body*/
body {
    overflow-x: hidden;
}
/*line*/
.line{
    display: flex;
    height: 10px;
    background-color: var(--bg-secondary-light);
    margin-top: 35px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}



/*home page*/
   
.extra-bold {
    font-family: 'YourCustomFont', sans-serif;
}   
.home-video-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 580px;
    border-bottom: 10px solid var(--bg-secondary-dark);
}

  
video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}



.home-video-text-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.home-video-text {
    font-family: 'Microsoft New Tai Lue';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 84px;
    color: var(--bg-primary);
}

.home-video-button {
    display: inline-block;
    padding: 18.75px;
    width: 342.19px;
    box-shadow: 0px 7.8125px 7.8125px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: var(--bg-secondary-light);
    color: var(--bg-primary);
    border: none;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* this will make the hover effect smoother */
}

.home-video-button:hover {
    background-color: var(--bg-primary);
    color: var(--bg-secondary-light);
    box-shadow: 0px 7.8125px 7.8125px rgba(0, 0, 0, 0.25);
}



.home-youtube{
    width: 250px;
    height: 200px;
}
.home-facebook{
    width: 150px;
    height: 150px;
}
.home-email{
    width: 150px;
    height: 150px;
}
.card{
    width: 100%;
    height: 100%;
    background-color: var(--bg-secondary-dark);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: var(--green-border);
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
    height: 175px;
    width: 175px;
    margin: 10px;
    padding: 20px;
    width: calc(33% - 40px); /* subtract margins and padding */
    box-sizing: content-box; 
}
#services {
    width: 650px;
    height: 275px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 55px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: var(--green-border);
    color: var(--bg-primary);
    font-size: 22pt;
    font-family: 'Helvetica' !important;
    flex-direction: column;
}
.home-row{
    width: 350px;
    height: 250px;
}
.expand-subrow{
    transition: transform 0.3s ease;
}
.card1:hover {
  transform: scale(1.05);
}
.carousel-container{
    margin: 20px;
    margin-bottom:0px ;
    display: flex;
    justify-content: center;
    
}
.carousel{
    height: 520px;
    width: 925px;
    margin: 40px;
    border: 5px solid #003355;
    box-sizing: content-box; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
   
}
.home-grid-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 'grid-left grid-right';
    margin: 40px;
    width: 100%;
    column-gap: 20px;
}
.home-grid-left{
    grid-area: grid-left;
    display: grid;
    width: 89%;
    height: 89%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    grid-template-areas: 'services'
                         'subrow';

}
.home-grid-right{
    grid-area: grid-right;
    justify-content: center;
    align-content: flex-end;
    height: 100%;
    margin-right: 20px;
}
.subrow{
    width: fit-content;
    grid-area:subrow ;
    width: 89.5%;
    margin-left: 45px;
}
.subrow-flex{
    display: flex;
}
#maps{
    border: 5px solid #3b69e0;
    opacity: 50%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 89%;
    height: 89%;
    align-self: flex-end;
    margin-top: 50px;
    margin-right: 40px;

}
.image-link {
    position: relative;
    display: inline-block;
}
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.initial-text, .hover-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    color: #fff;
    font-weight: 800;
}
.text-overlay:hover .hover-text {
    opacity: 1;
}
.home-row img{
    transition: filter 0.5s ease-in-out;
}
.image-link:hover .home-row {
    filter: grayscale(100%); /* Convert to grayscale when hovered */
}
.initial-text {
    font-family: 'Anek Malayalam Medium';
    font-style: bold;
    font-size: 2.5em; 
    line-height: 55px;
    text-transform: uppercase;
    font-weight: 800;
    text-shadow: -3px -3px 0 black, 3px -3px 0 black, -3px 3px 0 black, 3px 3px 0 black;
    
}
.hover-text {
    opacity: 0;
    font-family: 'Anek Malayalam Medium';
    font-style: ExtraBold;
    font-size: 1.75em;
    line-height: 32px;
    transition: opacity 0.5s ease-in-out;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}
a:hover .hover-text {
    opacity: 1;
}
.home-row {
    transition: saturate linear 300ms;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  } 
.home-row:hover {
    animation: saturate-animation 500ms forwards;
  }
@keyframes saturate-animation {
    100% {
      filter: saturate(0);
    }
}
#bottomhomerow{
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    justify-content: space-around;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    flex-wrap: wrap;
  }
#icontainer {
    position: relative;
    width: 100%;
  }
#icontainer img {
    position: absolute;
    left: 0;
  }  
/*staff page*/
.staffpage h1{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        color: #003355;
}
#staffCards {
    display: grid;
    height: 801;
    width: 1408;
    grid-template-areas: "chris billy steve" "marlin";
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin: 20px;
    margin-left: 65px;
    margin-right: 40px;
    box-sizing: content-box; 
}
.pastor-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#chris-rouse { 
    grid-area: "chris";
}
#billy-fuqua { 
    grid-area: "billy";
}
#steve-oldham { 
    grid-area: "steve";
}
#marlin-stroop{
    grid-area: "marlin";
}
.figure {
    position: relative;
    width: 113px;
    height: 30px;
}
.figure-img {
    width: 100%;
    height: 100%;
}
.card-img-top {
    height: 175px;
    width: 175px;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 42px;
    justify-content: center;
    border: #003355 5px solid;
    border-radius: 15px;
}
.card-flip {
    height: 375px;
    width: 325px;
    border: var(--green-border);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin: 40px;
    perspective: 1000px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);

}
.staff-card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;

}
.card-body{
    text-align: center;
    font-family: "Helvetica Neue", Helvet;
    font-size: 24px;
    font-weight: bold;
}
.card-body h5{
    font-family: "Helvetica Neue", Helvet;
    font-weight: bold;
    font-size: 24px;
}
.bio-button {
    position: absolute;
    right: 12px;
    bottom: 12px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.card-front, .card-back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}
.card-back {
    transform: rotateY(180deg);
}
.staff-card.is-flipped {
    transform: rotateY(180deg);
}
.card-back .card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
.card-back .card-body p {
    font-size: 18px;
}
/*give page class="givepage"*/
.give-why p{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5px;
}
.give-why{
    display: flex;
    justify-content: center;
    border: var(--green-border);
    border-radius: 15px;
    margin: 20px 10%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ways{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 0px;
}
.ways p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    color:#003355;
}
.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px;
    margin: 60px 90px;

}
.pay-card img{
    width: 280px;
    height: 280px;
}
/*belief page*/
.beliefpage{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.beliefpage h1{
    font-family: 'Microsoft New Tai Lue';
    font-style: normal;
    font-weight: 700;
    font-size: 3.4375em;
    line-height: 71px;
    /* identical to box height */

    align-items: center;
    text-align: center;

    color: var(--bg-secondary-dark);
}
.beliefpage h5{
    font-family: 'Microsoft New Tai Lue';
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    line-height: 53px;
    letter-spacing: 0.05em;
    color: var(--bg-secondary-dark);
}
.vision-container{
    display: grid;
    align-items: center;
    gap: 20px;
    text-align: center;
}
#margin-top{
    margin-top: 150px;
    justify-content: center;
}
.key-statements{
    background-color: #003355;
    border: var(--green-border);
    border-radius: 15px;
    padding: 10px;
    align-items: center;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.key-statements h3{
    font-style: bold;
    color: var(--bg-primary);
    font-size: 2.25em;
    font-weight: 550;
}
.belief-text{
    font-size: 1.375em;
    border: var(--green-border);
    border-radius: 15px;
    font-family: helvetica;
    font-weight: bold;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.belief-grid-sentence{
    display: grid;
    grid-template-columns: 500px  500px;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    grid-column-gap: 5px;
}
.key-mission{
    margin-bottom: 20px;
}

#that-thing{
    font-family: 'Microsoft New Tai Lue';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6875em;
    line-height: 35px;
    letter-spacing: 0.05em;
    text-align: center; 
}
#mission{
    text-align: center;
}

.belief-grid-container{
    display: grid;
    grid-auto-flow: dense;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(200px,1fr));
    align-items: center;
    column-gap: 2.1825em;
    margin: 20px 5%;
}
.belief-grid-section-left{
    display: grid;
    grid-template-rows: auto;
    row-gap: 40px;
    text-align: center;
}
.belief-grid-section-right{
    display: grid;
    grid-template-rows: auto;
    row-gap: 40px;
    text-align: center;
}
.belief-grid-item{
    display: inline-block;
    border: var(--green-border);
    border-radius:15px ;
    text-align: center;
    font-family: 'Microsoft New Tai Lue';
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: fit-content;
}
.belief-grid-item p{
    font-family: 'Microsoft New Tai Lue';
    font-size: 1.25em;
    padding: 5px;
    line-height: 1.6em;
    font-weight: 700;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    padding: 5px;
    display: flex;
    align-items: top;
}
.belief-grid-item li{
    font-family: 'Microsoft New Tai Lue';
    font-size: 1.25em;
    padding: 5px;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.6em;
    letter-spacing: 0.05em;
}

.belief-grid-item h1{
    font-size: 24px;
}
.accordion-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
    grid-template-rows: 1fr ;
    justify-content: center;
    gap: 40px; /* Add 40px space between accordions */
    margin: 40px 40px 40px 60px;
  }
  .accordion {
    display: grid; /* Distribute available space equally */
    max-width: 100%;
    max-height: 800px; /* Ensure accordions stay the same size when opened */
  }
  .accordion-right{
    max-height: fit-content ;
  }
  .accordion-item {
    height: fit-content; /* Allow accordion item to adjust its height based on content */
  }
  .accordion-item .accordion-button {
    text-align: left; /* Align the text to the left */
  } 
  .accordion-item .accordion-collapse {
    width: 100%; /* Set the width to 100% */
  }
  .accordion-item .accordion-body {
    overflow: hidden; /* Enable vertical scrolling if needed */
  }
.accordion{
    border: var(--green-border);
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.accordion-container button{
    font-family: 'Microsoft New Tai Lue';
    font-weight: bold;
    font-size: .75em;
    /* identical to box height */
    color: #1E1E1E;
}
.accordion-container button:hover{
    color: var(--bg-secondary-dark);
}
.accordion p{
    font-family: 'Microsoft New Tai Lue';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25em;
    line-height: 47px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
}

/*Im new page*/
.newpage h6{
    font-family: 'Microsoft New Tai Lue';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #003355;
}
.newpage h2{
    font-family: 'Microsoft New Tai Lue';
    font-style: normal;
    font-size: 54px;
    line-height: 84px;
    color: #003355
}
.new-grid1-container{
    display: grid;
    grid-template-columns: 700px 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas: 'img  text';
    margin: 40px;
    column-gap: 40px;
    align-items: center;
}
.expect{
    grid-area: img;
    border: #003355 5px solid;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.expect-border{
    grid-area: text;
    border-radius: 15px;
    border: var(--green-border);
    height: 612px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    height: fit-content;
    position: relative;
}
.expect-border p{
    font-family: 'Microsoft New Tai Lue';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    padding:5px;
}
.center-h2{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#expect-img{
    width: 100%;
    height: 100%;
}
.new-grid2-container{
    display: grid;
    grid-template-columns: 700px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'img text';
    margin: 40px;
    column-gap: 40px;
    align-items: center;
}
.order{
    display: flex;
    justify-content: center;
}
.order ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.order ul li {
    background: url('All Pictures/Polygon 4.png') no-repeat left center;
    background-size: 22px;
    padding-left: 40px; /* adjust as needed depending on the image size */
    font-family: 'Microsoft New Tai Lue';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.contact-container {
    display: flex;
    justify-content: space-evenly;
  }
  .contact-form, .contact-info {
    width: 45%; /* Adjust this value for different widths of form and info sections */
    padding: 2em;
  }
  .contact-form {
    border-right: 10px solid var(--bg-secondary-light); /* Adjust the color and thickness as needed */
  }
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  .contact-form label, .contact-form input, .contact-form textarea {
    margin-bottom: 1em;
  }
  .contact-form input, .contact-form textarea {
    padding: 0.5em;
    width: 100%;
  }
  .contact-form input[type="submit"] {
    cursor: pointer;
    background-color: #003355;
    color: #fff;
    border: none;
    padding: 1em;
    text-transform: uppercase;
    transition: .2s ease-in-out;
  }
  .contact-form input[type="submit"]:hover{
    background-color: var(--bg-secondary-light);
  }
  .contact-info{
    margin-left: 20px;
  }
  .connect-text{
    text-align: center;
    font-family: 'Microsoft New Tai Lue';
    font-style: normal;
    font-weight: 700;
    font-size: 1.75em;
    line-height: 47px;
    color: #003355;
  }
.contact-info p{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    text-decoration-line: underline;
  }
  .fc_icon{
    width: 165px;
    height: 165px;
    margin-left: 100px;
  }
/*Ministries*/
/*==================================
        RESPONSIVE DESIGN
====================================*/


@media only screen and (max-width: 768px){

    .navbar img {
        display: flex;
        text-align: center;
        justify-content: center;
        width: auto;
        height: 75px;
    }
    .logo-image {
        max-width: 100%;
        height: auto;
        
      }
      
    .navbar{
        width: 100%;
        background-size: cover;
        height: 10%;
        text-align: center;
        background-color: var(--bg-secondary-dark);
        color: var(--bg-secondary-light);
    }
    .nav-link{
        color: var(--bg-primary);
    }
    
    .navbar-nav{
        width: 60%;
        height: auto;
        background-color: var(--bg-secondary-dark);
    }
  .container-fluid{
    display: flex;
  }
  .navbar-brand{
    height: 20%;
  }
    .dropdown-menu {
        position: absolute;
        transform: translate3d(-0%, 0, 0);
        top: 0;
        left: 50%;
        will-change: transform;
        transition: transform 0.3s ease-out;
        text-align: center;
        box-sizing: content-box;
      }
      
    .navbar-collapse {
        position: absolute;
        top: 80%; /* position right under the navbar */
        width: 100%; /* adjust width as necessary */
    }
    .line{
        margin:10px;
    }
    .break{
        display: none;
    }
    .footer{
        width: 100%;
    }
    .parentfootercolumn {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footercolumn {
        text-align: center; /* Aligns the text to center */
    }
    #footerimg{
        display: none;
    }
    .footer-right p{
        text-align: center;
        line-height: 20px;
        margin: 0; /* Removes the margin on the right */
    }
    /*
    ==========================================
                        HOME
    ==========================================
    */

    .home-video-text {
        font-size: 38px;
        line-height: 84px;

    }

    .carousel{
        width: 100%;
        height: auto;
        margin: auto;
        place-self: center;
        display: flex;
        justify-content: center; /* for horizontal alignment */
        align-items: center; /* for vertical alignment */
    }
    .home-grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        place-items: center;
        justify-content: center;
        margin: 20px;         
              
    }
    #map{
        display: none;
    }


    .subrow{
        grid-template-columns: 1fr;
    }
    .column-media{
        width: 60%;
    }
    .home-grid-left {
        display:grid;
        grid-template-columns: 1fr;
        height: auto;
        width: 100%;
        margin: 20px;
        justify-content: center;
    }
    .initial-text{
        font-size: 46px;
    }
    .hover-text{
        font-size: 22px
    }
    .home-grid-right{
        display: none !important;
    }
    video{
        padding-bottom: 75%;
    }

    .initial-text, .hover-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
        color: #fff;
        font-weight: 800;
    }
    
/*
==========================================
                STAFF
==========================================*/
    #staffCards{
        grid-template-columns: 2fr;
    }

/*
==========================================
                BELIEFS
==========================================*/

    .belief-grid-sentence{
        grid-template-columns: 1fr
    }
    .belief-text{
        display: flex;
        height:auto;
    }
    .key-statements{
        margin-right: auto;
        margin-left: auto;
    }
    .belief-text p{
        font-size: 16px;    
    }
    .key-statements{
        font-size: 12px;
    }
    .accordion-container{
        position: relative;
    }
    .belief-grid-container{
        grid-template-columns: 1fr;
        gap: 20px;

    }
    .belief-grid-item p, .belief-grid-item li{
        font-size: 16px;
    }
    .belief-grid-item h1{
        font-size: 22px;
    }
    .belief-grid-item{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .belief-text{
      margin: auto 10%;
    }
    .accordion-container{
        grid-template-columns: 1fr;
    }

    /*
    ==========================================
                        New
    ==========================================
    */

    .new-grid1-container{
        grid-template-columns: 1fr;
        grid-template-rows: auto  ;
        grid-template-areas: 'img'  
                            'text';
        row-gap: 20px;
    }

    .new-grid2-container{
        grid-template-columns: 1fr;
        grid-template-rows: auto  ;
        grid-template-areas: 'img'  
                            'text';
        row-gap: 20px;
    }

    .order ul li {
        font-size: 12px;
    }
    
    .contact-container{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .contact-form{
        justify-content: center;
        width: 100%;
        text-align: center;
    }
    .contact-form{
        border: none;
    }
    .contact-info{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    .fc_icon{

        width: 50%;
        height: auto;
        margin-left: 0px;

      }
  }
